footer{
            height:50px;
                max-width:800px;
                min-width:590px;
                background:#505050;
                margin-bottom: 10px;
                margin-top: 20px;
                border:1px solid Black;
                border-radius:20px;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
                        box-shadow: 0 0 10px rgba(0,0,0,1);
                position: relative;
                left:50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
        }
        .footer__link{
            height: 25px;
            width: 25px;
            background-image: url(http://www.webmasters.by/images/articles/css-social-buttons/social-icons-preview.png);
            background-repeat:no-repeat;
            background-size:center center;
            float: right;
            margin-right: 10px;
            margin-top:5px;
            border:1px solid Black;
            border-radius:20px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
                    box-shadow: 0 0 10px rgba(0,0,0,1);
        }
        .footer__link:hover{
            display: inline-block;
            -webkit-transform: rotate3d(1, 1, 1, 45deg);
                    transform: rotate3d(1, 1, 1, 45deg);
        }
        .link_In{
            background-position:-150px -42px;
        }
        .link_FaceBook{
            background-position:-76px -42px;
        }
        .link_Twit {
            background-position:-37px -42px;
        }
        .footer__p{
            float: left;
            margin-left: 10px;
            margin-top:5px;
            margin-bottom: 0px;
            font-size:15px;
            color:white;
        }
        .developed_sait{
            clear:left;
        }
        .top_up{
            display:block;
            height: 20px;
            width: 60px;
            position: absolute;
            top: 25px;
            left:50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
             background-image:none;
            background-color: 505050;
            color: white;
            text-decoration: none;
            font-size:15px;
            border:1px solid Black;
            border-radius:20px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
                    box-shadow: 0 0 10px rgba(0,0,0,1);
            text-align: center;
        }
        @media (max-width:590px) {
            footer {min-width: 100%;
                display: inline-block;
                height: auto;
            }
            .footer__link{
                display: none;
            }
            .top_up{
                position:static;
                margin-top: 10px;
                margin-left: 50%;
                float: left;
                clear: left;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
        }